.venv

dataset/test
dataset/train
dataset/valid
dataset/forklift.v1.yolov8.zip
dataset/README.dataset.txt
dataset/README.roboflow.txt

inference_results
runs/forklift_person_v1-2/val
forklift_results

"torch-2.5.0+cu121-cp311-cp311-win_amd64"
"torchvision-0.20.0+cu121-cp311-cp311-win_amd64"

yolo26n.pt
yolov8n.pt

web/__pycache__
